
.geral{
    background-color: aqua;
    width: 100vw;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: space-around;

}
.button{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background-color: black;
}
.conteudo{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}
.rodape{
    background-color: black;
    color: #fff;
    text-align: center;
    width: 100vw;
    height: 80px;
    padding: 20px;
    margin-top: 10px;
}
